<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>강의 목록</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<!-- 헤더 포함 -->
<div th:replace="_fragments/header :: header"></div>

<h1>강의 목록</h1>

<form th:action="@{/lectures}" method="get">
  <input type="date" name="date">
  <button type="submit">검색</button>
</form>

<a th:href="@{/lectures/form}">강의 등록</a>

<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>제목</th>
    <th>날짜</th>
    <th>내용</th>
    <th>관리</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="lecture : ${lectures}">
    <td th:text="${lecture.id}"></td>
    <td th:text="${lecture.title}"></td>
    <td th:text="${lecture.lectureDate}"></td>
    <td th:text="${lecture.content}"></td>
    <td>
      <a th:href="@{'/lectures/edit/' + ${lecture.id}}">수정</a>
      <a th:href="@{'/lectures/delete/' + ${lecture.id}}">삭제</a>
    </td>
  </tr>
  </tbody>
</table>

<!-- 푸터 포함 -->
<div th:replace="_fragments/footer :: footer"></div>


</body>
</html>
