<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>자료 목록</title>
</head>
<body>
<div th:replace="_fragments/header :: header"></div>

<h1>자료 목록</h1>

<p>
  <a th:href="@{/materials/form}">자료 등록</a>
</p>

<table border="1">
  <thead>
  <tr>
    <th>번호</th>
    <th>자료명</th>
    <th>자료 타입</th>
    <th>강의</th>
    <th>URL</th>
    <th>삭제</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="material, iterStat : ${materials}">
    <td th:text="${iterStat.count}"></td>
    <td th:text="${material.title}"></td>
    <td th:text="${material.type}"></td>
    <td th:text="${material.lecture.name}"></td>
    <td>
      <a th:href="${material.url}" target="_blank">바로가기</a>
    </td>
    <td>
      <a th:href="@{'/materials/delete/' + ${material.id}}">삭제</a>
    </td>
  </tr>
  </tbody>
</table>


<div th:replace="_fragments/footer :: footer"></div>
</body>
</html>
