<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<header>
  <div id="header">
    <a th:href="@{/}">메인</a>

    <!-- 로그인 상태일 때 -->
    <span th:if="${session.loginUser != null}">
        <a th:href="@{/lectures}">강의</a>
        <a th:href="@{/materials}">자료</a>

      <!-- 관리자 메뉴: 사용자 관리 -->
        <a th:if="${session.loginUser.role != null and session.loginUser.role.name() == 'ADMIN'}"
           th:href="@{/users}">사용자 관리</a>

        <a th:href="@{/auth/logout}">로그아웃</a>
    </span>

    <!-- 로그인 안 됐을 때 -->
    <span th:if="${session.loginUser == null}">
        <a th:href="@{/auth/login}">로그인</a>
    </span>
  </div>
</header>

</body>
</html>
